<!doctype html>
<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
		<script src="https://rawgithub.com/digitalfondue/df-tab-menu/master/src/df-tab-menu.js"></script>
		<link rel="stylesheet" href="https://rawgithub.com/digitalfondue/df-tab-menu/master/example/df-tab-menu.css" type="text/css">
		<style type="text/css">
			body {
				font-family: sans-serif;
				font-style: normal;
				font-variant: normal;
				background-color: #e5e5e5;
				font-size: 14px;
			}
		</style>
	</head>
	<body>
		<h1>df-tab-menu</h1>
		<p>Responsive tabs with dropdown menu</p>
		<div ng-app="digitalfondue.dftabmenu" ng-init="navigationState = 'ProjectManage'">
			<data-df-tab-menu menu-control="{{navigationState}}" more-menu-template="<span>More +</span>">
				<li menu-item="home"><a data-ng-href="#" data-ng-click="navigationState = 'home'"><span>Home</span></a></li>
				<li menu-item="products"><a data-ng-href="#" data-ng-click="navigationState = 'products'"><span>Products</span></a></li>
				<li menu-item="gallery"><a data-ng-href="#" data-ng-click="navigationState = 'gallery'"><span>Gallery</span></a></li>
				<li menu-item="sustainability"><a data-ng-href="#" data-ng-click="navigationState = 'sustainability'"><span>Sustainability</span></a></li>
				<li menu-item="innovation"><a data-ng-href="#" data-ng-click="navigationState = 'innovation'"><span>Innovation</span></a></li>
				<li menu-item="blog"><a data-ng-href="#" data-ng-click="navigationState = 'blog'"><span>Blog</span></a></li>
				<li menu-item="contactus"><a data-ng-href="#" data-ng-click="navigationState = 'contactus'"><span>Contact Us</span></a></li>
				<li menu-item="about"><a data-ng-href="#" data-ng-click="navigationState = 'about'"><span>About</span></a></li>
			</data-df-tab-menu>
		</div>
	</body>
</html>